<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<title>{$SiteName/}_首页</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
<div class="container">
<div class="row">
<div class="col-lg-6 col-sm-6 col-md-6 col-xs-9 top_l">
<ul class="list-inline">
<li><a href="/User/Register.aspx">快速注册</a></li>
<li><a href="#">合作社之家</a></li>
<li><a href="/User/Order/PreViewOrder.aspx?menu=Orderinfo">我的订单</a></li>
</ul>
</div>
<div class="col-lg-6 col-sm-6 col-md-6 col-xs-3 top_r">
<ul class="list-inline">
<li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-weixin"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="home_top">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 home_top_l">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 home_top_r1">
<a href="/"><img src="{$LogoUrl/}" class="img-responsive" alt="{$SiteName/}" /></a>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 home_top_r2">
<img src="{$CssDir/}images/logo2.png" class="img-responsive" alt="新丰新农业·生态农业新东方" />
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 home_top_r">
<form class="input-group" action="/Search/Searchlist.aspx" method="get" target="_blank"> 
<div class="input-group">
<input type="text" name="keyword" class="form-control" id="keyword" />
<span class="input-group-btn"> 
<button class="btn btn-danger" type="submit"><i class="fa fa-search"></i> 搜索</button>
</span>
</div>
</form>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 home_phone text-right">
<span class="glyphicon glyphicon-phone-alt"></span>咨询热线：<strong><a href="tel:0771-3623681" class="all_phone">0771-3623681</a></strong>
</div>
</div>
</div>
</div>
<div id="scolls">
<div class="navbar navbar-default"> 
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/">首页</a></li>
<li><a href="{ZL:GetNodeLinkUrl(1)/}" target="_blank">小鸡快跑</a></li>
<li><a href="{ZL:GetNodeLinkUrl(2)/}" target="_blank">花千岛</a></li>
<li><a href="{ZL:GetNodeLinkUrl(3)/}" target="_blank">丛林初姬</a></li>
<li><a href="{ZL:GetNodeLinkUrl(4)/}" target="_blank">互联网+第一书记</a></li>
<li><a href="{ZL:GetNodeLinkUrl(5)/}" target="_blank">合作社</a></li>
<li><a href="{ZL:GetNodeLinkUrl(6)/}" target="_blank">F2F星级农场</a></li>
<li><a href="{ZL:GetInfoUrl(1)/}" target="_blank">关于新丰新</a></li>
</ul>
</div>
</div> 
</div>
</div>
<div class="home_banner">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-generic" data-slide-to="1"></li>
<li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol> 
<div class="carousel-inner" role="listbox">
<div class="item banner_item1 active"> 
<div class="carousel-caption">
<h1>丛林初姬<span>小骨，尊上喊你上長留啦！</span></h1>
<p>大型国宝级珍禽<span>“鸡中熊猫”</span></p>
<img src="{$CssDir/}images/code.jpg" alt="微信二维码" /><span class="mwidth">微商小伙伴 花千岛民宿体验</span><strong>-长留山丛林鸡</strong>
</div>
</div>
<div class="item banner_item2"> 
<div class="carousel-caption">
 
</div>
</div>
<div class="item banner_item3"> 
<div class="carousel-caption">
 
</div>
</div>
</div> 
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>  
</div>
<div class="home_syn">
<div class="container">
<div class="row">
<ul class="list-unstyled">
<li><strong>新丰新</strong>,助新弄人丰收新农业</li>
<li>未来十年，<strong>80%</strong>的优质生态农产品均来自于家庭农场、合作社或联合社！</li>
<li>未来五年，大多数农产品将按质定价，品控成为生鲜电商发展的第一要素！</li>
<li>未来三年，电商巨头要进入农村，解决最后一公里的问题只能靠当地的<strong>新农人</strong>!</li>
<li>我们与第一书记连接起从农场到家庭F2F从服务到管理的数据库信任桥梁</li>
<li>小鸡快跑，一马当先，我们为解决这三个问题而来！</li>
<li>我们搭建整个生态农业全产业链的技术、营销、融资与农场托管服务平台，服务新农业！<</li>
</ul>
</div>
</div>
</div>
<div class="home_img">
<div class="home_img_bg">
<div class="home_img_inner"> 
<h1><a href="{ZL:GetInfoUrl(1)/}" target="_blank">关于新丰新</a></h1>
{ZL.Label id="输出指定文章内容" GID="1" /}
<span>全新的平台，新丰新帮您一马当先的解决问题，成为一个有优质生态农产品的新农人。</span>
</div> 
</div>
</div>
<div class="floor_title text-center">
<div class="container"><span>成功案例</span><span class="pull-right"><a href="{ZL:GetNodeLinkUrl(8)/}" target="_blank">More..</a></span></div></div>
<div class="floor_border"></div>
<div class="title_1"> 
<span class="">历经八年驯养 只为归巢习性</span>
<p>顶尖月子鸡第一品牌：长留山“小骨”丛林鸡</p>
</div> 
<div id="home_roll">
<div class="container-fluid padding0">
<div class="home_roll">
<div class="rollBox">
<div class="LeftBotton"><img id="d2" onmouseout="ISL_StopUp()" onmousedown="ISL_GoUp()" onmouseup="ISL_StopUp()" alt="" src="{$CssDir/}images/prev.png">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Cont" id="ISL_Cont">
<div class="ScrCont">
<div id="List1">
{ZL.Label id="文章缩略图列表_带标题" NodeID="8" TitleNum="30" ShowNum="10" /}
</div>
<div id="List2"></div></div></div>
<div class="RightBotton" onmouseout="ISL_StopDown()" onmousedown="ISL_GoDown()" 
onmouseup="ISL_StopDown()"><img class=" pull-right" id="d3" onmouseout="ISL_StopDown()" onmousedown="ISL_GoDown()" onmouseup="ISL_StopDown()" alt="" src="{$CssDir/}images/next.png"></div></div>
<div class="clearfix"></div></div></div></div></div>
<div class="floor_title text-center">
<div class="container"><span>产品中心</span><span class="pull-right"><a href="{ZL:GetNodeLinkUrl(10)/}" target="_blank">More..</a></span></div></div>
<div class="floor_border"></div> 
<div class="home_pro">
<div class="container">
<div class="row">
<ul class="list-unstyled">
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10">
<div class="pro_item">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#pro_item1" aria-controls="home" role="tab" data-toggle="tab" data-url="{ZL:GetNodeLinkUrl(15)/}">新品上市</a></li>
<li role="presentation"><a href="#pro_item2" aria-controls="profile" role="tab" data-toggle="tab" data-url="{ZL:GetNodeLinkUrl(11)/}">养鸡设备</a></li> 
</ul> 
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="pro_item1">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding5">
{ZL.Label id="输出推荐文章缩略图_无标题" NodeID="15" /}
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding5 pro_item_ul">
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="15" TitleNum="30" ShowNum="6" /}
</ul>
</div>
<div class="clearfix"></div> 
</div>
<div role="tabpanel" class="tab-pane" id="pro_item2">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding5">
{ZL.Label id="输出推荐文章缩略图_无标题" NodeID="11" /}
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding5 pro_item_ul">
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="11" TitleNum="30" ShowNum="6" /}
</ul>
</div> 
<div class="clearfix"></div> 
</div> 
</div>
<div class="clearfix"></div> 
</div>
<div class="clearfix"></div>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10">
<div class="pro_item">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#pro_item3" aria-controls="home" role="tab" data-toggle="tab" data-url="{ZL:GetNodeLinkUrl(12)/}">养鸡材料</a></li>
</ul> 
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="pro_item3">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding5">
{ZL.Label id="输出推荐文章缩略图_无标题" NodeID="12" /}
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding5 pro_item_ul">
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="12" TitleNum="30" ShowNum="6" /}
</ul>
</div>
<div class="clearfix"></div> 
</div> 
</div>
<div class="clearfix"></div> 
</div>
<div class="clearfix"></div>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10">
<div class="pro_item">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#pro_item5" aria-controls="home" role="tab" data-toggle="tab" data-url="{ZL:GetNodeLinkUrl(13)/}">饲养品种</a></li>
</ul> 
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="pro_item5">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding5">
{ZL.Label id="输出推荐文章缩略图_无标题" NodeID="13" /}
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding5 pro_item_ul">
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="13" TitleNum="30" ShowNum="6" /}
</ul>
</div>
<div class="clearfix"></div> 
</div> 
</div> 
<div class="clearfix"></div> 
</div>
<div class="clearfix"></div>
</li>
<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding10">
<div class="pro_item">
<ul class="nav nav-tabs" role="tablist">
<li role="presentation" class="active"><a href="#pro_item7" aria-controls="home" role="tab" data-toggle="tab" data-url="{ZL:GetNodeLinkUrl(14)/}">销售产品</a></li>
</ul> 
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="pro_item7">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding5">
{ZL.Label id="输出推荐文章缩略图_无标题" NodeID="14" /}
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding5 pro_item_ul">
<ul class="list-unstyled">
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="14" TitleNum="30" ShowNum="6" /}
</ul>
</div>
<div class="clearfix"></div> 
</div> 
</div>
<div class="clearfix"></div> 
</div>
<div class="clearfix"></div>
</li>
</ul>
</div>
</div>
</div>  
<div class="new_pro">
<div class="container">
<h4 class="text-center">OUR PRODUCT</h4>
<div class="new_pro_t text-center">新丰新产品</div>
<ul class="list-unstyled text-center">
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<a href="{ZL:GetInfoUrl(22)/}"><i class="new_pro1"></i>
<span>稳定的现金流</span></a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<a href="{ZL:GetInfoUrl(23)/}"><i class="new_pro2"></i> 
<span>合理的盈利模式</span></a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<a href="{ZL:GetInfoUrl(24)/}"><i class="new_pro3"></i> 
<span>小步快速是错的工具</span></a>
</li>
<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<a href="{ZL:GetInfoUrl(25)/}"><i class="new_pro4"></i> 
<span>基于合作社为基础</span></a>
</li>
</ul> 
</div>
</div> 
<div class="footer">
<div class="container">
<div class="row">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<span>小鸡快跑</span>
<ul class="list-unstyled">
<li><a href="{ZL:GetInfoUrl(26)/}">营销型</a></li>
<li><a href="http://app.zoomla.cn/Class_2/NodePage.aspx?url={$SiteURL/}&t=m" target="_blank">手机网站</a></li>
<li><a href="{ZL:GetInfoUrl(27)/}">移动推广系统</a></li>
<li><a href="{ZL:GetInfoUrl(28)/}">网站代运营</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<span>丛林初姬</span>
<ul class="list-unstyled">
<li><a href="{ZL:GetInfoUrl(29)/}">推广培训</a></li>
<li><a href="{ZL:GetInfoUrl(30)/}">客服培训</a></li>
<li><a href="{ZL:GetInfoUrl(31)/}">增值沙龙</a></li>
<li><a href="{ZL:GetInfoUrl(2)/}">专属客服</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<span>花千岛众筹</span>
<ul class="list-unstyled">
<li><a href="{ZL:GetInfoUrl(16)/}">没网站怎么办</a></li>
<li><a href="{ZL:GetInfoUrl(17)/}">有网站不赚钱</a></li>
<li><a href="{ZL:GetInfoUrl(18)/}">想做全网营销</a></li>
<li><a href="{ZL:GetInfoUrl(19)/}">网络赚钱系统</a></li>
<li><a href="{ZL:GetNodeLinkUrl(8)/}">案例资讯</a></li>
</ul>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
<span>F2F星级农场</span>
<ul class="list-unstyled">
<li><a href="{ZL:GetInfoUrl(1)/}">公司介绍</a></li>
<li><a href="{ZL:GetInfoUrl(3)/}">公司团队</a></li>
<li><a href="{ZL:GetInfoUrl(4)/}">荣誉资质</a></li>
<li><a href="{ZL:GetInfoUrl(5)/}">全国驻点服务</a></li>
</ul>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center footer_code">
<img src="{$CssDir/}images/code.jpg" class="center-block img-responsive" alt="微信二维码"/>
<span>微信公众号 | 关注新丰新</span>
<p></p>
</div>
</div>
<div class="footer_site text-center">{$Copyright/}</div>
</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">扫一扫二维码，关注新丰新官方微信</h4>
      </div>
      <div class="modal-body">
        <img src="{$CssDir/}images/code.jpg" class="center-block img-responsive" alt="微信二维码" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">退出</button> 
      </div>
    </div>
  </div>
</div>
</body>
</html>
<SCRIPT>
//检测固顶事件
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

//左右滚动效果
var Speed = 3; //速度(毫秒)
var Space = 7; //每次移动(px)
var PageWidth = 400; //翻页宽度
var fill = 0; //整体移位
var MoveLock = false;
var MoveTimeObj;
var Comp = 0;
var AutoPlayObj = null;
GetObj("List2").innerHTML = GetObj("List1").innerHTML;
GetObj('ISL_Cont').scrollLeft = fill;
GetObj("ISL_Cont").onmouseover = function(){clearInterval(AutoPlayObj);}
GetObj("ISL_Cont").onmouseout = function(){AutoPlay();}
AutoPlay();
function GetObj(objName)
{
if(document.getElementById)
return eval('document.getElementById("'+objName+'")')
else
return eval('document.all.'+objName)
}
function AutoPlay()
{//自动滚动
clearInterval(AutoPlayObj);
AutoPlayObj = setInterval('ISL_GoDown();ISL_StopDown();',3000); //间隔时间
}
function ISL_GoUp()
{ //上翻开始
if(MoveLock) return;
clearInterval(AutoPlayObj);
MoveLock = true;
MoveTimeObj = setInterval('ISL_ScrUp();',Speed);
}
function ISL_StopUp()
{ //上翻停止
clearInterval(MoveTimeObj);
if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0)
{
Comp = fill - (GetObj('ISL_Cont').scrollLeft % PageWidth);
CompScr();
}
else
MoveLock = false;
AutoPlay();
}
function ISL_ScrUp()
{ //上翻动作
if(GetObj('ISL_Cont').scrollLeft <= 0){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft + GetObj('List1').offsetWidth}
GetObj('ISL_Cont').scrollLeft -= Space ;
}
function ISL_GoDown(){ //下翻
clearInterval(MoveTimeObj);
if(MoveLock) return;
clearInterval(AutoPlayObj);
MoveLock = true;
ISL_ScrDown();
MoveTimeObj = setInterval('ISL_ScrDown()',Speed);
}
function ISL_StopDown(){ //下翻停止
clearInterval(MoveTimeObj);
if(GetObj('ISL_Cont').scrollLeft % PageWidth - fill != 0 )
{
Comp = PageWidth - GetObj('ISL_Cont').scrollLeft % PageWidth + fill;
CompScr();
}
else{MoveLock = false;}
AutoPlay();
}
function ISL_ScrDown()
{ //下翻动作
if(GetObj('ISL_Cont').scrollLeft >= GetObj('List1').scrollWidth){GetObj('ISL_Cont').scrollLeft = GetObj('ISL_Cont').scrollLeft - GetObj('List1').scrollWidth;}
GetObj('ISL_Cont').scrollLeft += Space ;
}
function CompScr()
{
var num;
if(Comp == 0){MoveLock = false;return;}
if(Comp < 0)
{ //上翻
if(Comp < -Space)
{
Comp += Space;
num = Space;
}
else
{
num = -Comp;
Comp = 0;
}
GetObj('ISL_Cont').scrollLeft -= num;
setTimeout('CompScr()',Speed);
}
else
{ //下翻
if(Comp > Space)
{
Comp -= Space;
num = Space;
}
else
{
num = Comp;
Comp = 0;
}
GetObj('ISL_Cont').scrollLeft += num;
setTimeout('CompScr()',Speed);
}
}

$(".pro_item .nav-tabs li a").click(function(e) {
	if($(this).parent().hasClass("active"))
		window.location.href=$(this).data("url");
});
//判断是否手机
function IsPC() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
                "SymbianOS", "Windows Phone",
                "iPad", "iPod"];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
if(IsPC())
		$(".all_phone").attr("href","javascript:alert('请用手机直接拨打967110')");

</SCRIPT>