{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script> 
<style>
#scolls .navbar-default .navbar-nav li.menu{SField sid="节点栏目信息数据源" FD="NodeID" page="0"/} a{ color:#eee; background:#008836;}
</style>
</head>
<body> 
{ZL.Label id="全站头部"/} 
<div class="pro_banner text-center">
<h1>长留山 丛林鸡</h1>
<p>只是土鸡放养? 太<span>OUT</span>了，我们要<span>野</span>的!</p>
</div>  
</div>
<div class="pro_source">
<div class="container">
<div class="pro_title text-center"><span>丛林鸡的来源</span></div>
<div class="pro_border"></div>
<div class="pro_cnt">
关于丛林鸡的来源，一些资科讲是由印度传入的。这种不正确的说法可能是受达尔文的影响。因为达尔文在他所著的《动物和植物在家养下的变异》一书中说：“在印度，丛林鸡是在《玛奴法典》完成的时候，大约在公元前1200年前，不过也有人认为只在公元前800年。”在该书中的另一处，达尔文根据一本“中国百科全书”宣称：“鸡是西方的动物，在公元前1400年前的一个王朝时代引进到东方（指中国)的。”达尔文没有在书中提到他根据的“中国百科全书”的书名，但说是在1609年出版的，而在书中另一处又说是1596.年出版的。《本草纲目》被西方誉为“中目古代的百科全”，恰是在1596年出版的，但书中井无与此扣关的记载。而1609年出版的比较著名的中国“类书”，只有《三才图会》，该书中倒有一段关于鸡的说明：“鸡有蜀鲁荆越诸种，越鸡小，蜀鸡大，鲁鸡尤其大者，旧说日中有鸡。鸡西方之物，大明生于东，故鸡入之。”
</div>
</div>
</div>  
<div class="pro_main">
<div class="container">
<div class="pro_title text-center"><span>长留山丛林鸡</span></div>
<div class="pro_border"></div>
<div class="chicken">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0 chicken_l">
<a href="#"><img src="{$CssDir/}images/pic6.jpg" class="center-block img-responsive" alt="" /></a>
<span><a href="#">长留山丛林鸡</a></span>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 padding0 chicken_r">
<ul class="list-unstyled">
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic7.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic8.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic7.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic8.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic7.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0"><a href="#"><img src="{$CssDir/}images/pic8.jpg" class="center-block img-responsive" alt="" /></a><span><a href="#">长留山丛林鸡</a></span></li>
</ul>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>  
<div class="tobuy"> 
<div class="container text-center">  
<h2 class="text-center">欢迎光临{$SiteName/}</h2>
<h3><span>“小骨”</span>月子鸡</h3>
<p>仅接受预订！<br />订购热线：18978197813</p>  
</div>  
</div>
<div class="food">
<div class="container">
<div class="pro_title text-center"><span>丛林养生食谱</span></div>
<div class="pro_border"></div>
<div class="food_list">
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
<ul class="list-unstyled">
<li><a href="#"></a></li>
</ul>
</div>
</div>
</div>
</div> 
{ZL.Label id="全站底部"/}  
</body>
</html>
<script>
var IO=document.getElementById('scolls'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
	".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
 if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>

//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
  var msViewportStyle = document.createElement("style");
  msViewportStyle.appendChild(
    document.createTextNode(
      "@-ms-viewport{width:auto!important}"
    )
  );
  document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

</script>